@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: quicksand;
  margin: 0;
  padding: 0;
  background: rgb(41,47,47);
  background: linear-gradient(90deg, rgba(41,47,47,1) 13%, rgba(10,11,11,1) 88%);
  color: aliceblue;
}

#coinCard {
  margin: 4rem;
}

nav {
  background-color: transparent;
}

nav div ul li a {
  margin-right: 15.5rem;
}

nav div a {
  display: flex;
  margin-left: 12rem;
  height: 15px;
  font-size: 20px;
}

#logo {
  margin-top: -3.5rem;
}

#dataContainer {
  box-sizing: border-box;
  border-spacing: 0px;
}
  
#coinCard {
  display: grid;
  grid-template-columns: auto 32% 32%;
  grid-template-rows: repeat(2, auto);
  width: 100%;
  max-width: 1400px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

canvas {
  position: absolute;
  width: 100px;
  height: 100px;
}

.card-content{
  background-color: black;
  color: white;
}

.card-content h5{
  margin: 0;
  margin-bottom: 5px;
}

p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


.card h4{
  margin: 0;
  margin-bottom: 10px;
  color: white;
  background-color: black;
}
#chart-div{
  background-color: black;
}

.card-image img{
  height: 300px;
}
.card-action{
  border-bottom: 5px solid black;
}


