body {
    font-family: quicksand;
    margin: 0;
    padding: 0;
    background: rgb(41,47,47);
    background: linear-gradient(90deg, rgba(41,47,47,1) 13%, rgba(10,11,11,1) 88%);
   color: aliceblue;
  }
  
  nav {
    background-color: transparent;
  }
  
  nav div ul li a {
    margin-right: 15.5rem;
  }
  
  nav div a {
    display: flex;
    margin-left: 12rem;
    height: 15px;
    font-size: 20px;
  }
  
  #logo {
    margin-top: -3.5rem;
  }
  
  i {
    cursor: pointer;
  }
  
  #wthlist {
    margin-right: 10rem;
  }

  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:larger;
  }

  li {
    margin:2rem;
  }